<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>AddGoodsServlet</servlet-name>
    <servlet-class>com.dy.servlet.AddGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodsServlet</servlet-name>
    <url-pattern>/AddGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DdListServlet</servlet-name>
    <servlet-class>com.dy.servlet.DdListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DdListServlet</servlet-name>
    <url-pattern>/DdListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DdMoreListServlet</servlet-name>
    <servlet-class>com.dy.servlet.DdMoreListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DdMoreListServlet</servlet-name>
    <url-pattern>/DdMoreListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DdMoreServlet</servlet-name>
    <servlet-class>com.dy.servlet.DdMoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DdMoreServlet</servlet-name>
    <url-pattern>/DdMoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAllGwcServlet</servlet-name>
    <servlet-class>com.dy.servlet.DeleteAllGwcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAllGwcServlet</servlet-name>
    <url-pattern>/DeleteAllGwcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteGwcServlet</servlet-name>
    <servlet-class>com.dy.servlet.DeleteGwcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGwcServlet</servlet-name>
    <url-pattern>/DeleteGwcServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoodsListServlet</servlet-name>
    <servlet-class>com.dy.servlet.GoodsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsListServlet</servlet-name>
    <url-pattern>/GoodsListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GwcListServlet</servlet-name>
    <servlet-class>com.dy.servlet.GwcListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GwcListServlet</servlet-name>
    <url-pattern>/GwcListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JsServlet</servlet-name>
    <servlet-class>com.dy.servlet.JsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsServlet</servlet-name>
    <url-pattern>/JsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dy.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.dy.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateGwcCountServlet</servlet-name>
    <servlet-class>com.dy.servlet.UpdateGwcCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGwcCountServlet</servlet-name>
    <url-pattern>/UpdateGwcCountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HLoginServlet</display-name>
    <servlet-name>HLoginServlet</servlet-name>
    <servlet-class>com.dy.servlet.HLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HLoginServlet</servlet-name>
    <url-pattern>/HLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HupdatePwdServlet</display-name>
    <servlet-name>HupdatePwdServlet</servlet-name>
    <servlet-class>com.dy.servlet.HupdatePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HupdatePwdServlet</servlet-name>
    <url-pattern>/HupdatePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HaddUserServlet</display-name>
    <servlet-name>HaddUserServlet</servlet-name>
    <servlet-class>com.dy.servlet.HaddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HaddUserServlet</servlet-name>
    <url-pattern>/HaddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HDeleteUserServlet</display-name>
    <servlet-name>HDeleteUserServlet</servlet-name>
    <servlet-class>com.dy.servlet.HDeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HDeleteUserServlet</servlet-name>
    <url-pattern>/HDeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HaddGoodsServlet</display-name>
    <servlet-name>HaddGoodsServlet</servlet-name>
    <servlet-class>com.dy.servlet.HaddGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HaddGoodsServlet</servlet-name>
    <url-pattern>/HaddGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HDeleteGoodsServlet</display-name>
    <servlet-name>HDeleteGoodsServlet</servlet-name>
    <servlet-class>com.dy.servlet.HDeleteGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HDeleteGoodsServlet</servlet-name>
    <url-pattern>/HDeleteGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HSendGoodsServlet</display-name>
    <servlet-name>HSendGoodsServlet</servlet-name>
    <servlet-class>com.dy.servlet.HSendGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HSendGoodsServlet</servlet-name>
    <url-pattern>/HSendGoodsServlet</url-pattern>
  </servlet-mapping>
</web-app>